header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  background-color: #5643ae;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li {
  font-size: 18px;
  padding: 0px 20px;
  cursor: pointer;
}

header ul li svg {
  color: #fff;
}

.header--left-side {
  display: flex;

  align-items: center;
}

.header--left-side h2 a {
  color: white;
  font-size: 28px;
}

.header--left-side input {
  width: 220px;
  margin: 0 30px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 16px 10px;
}

.header--left-side a {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  color: #fff !important;
  padding: 22px 15px;
}

.header--left-side a:hover {
  background-color: #3c3070;
}

.header--left-side ul li {
  padding: 0;
}

.header--right-side li {
  margin: 0;
  padding: 0;
}

.header--right-side img {
  width: 28px;
}

.header--right-side li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  color: #fff !important;
  padding: 22px 15px;
}

.header--right-side li a:hover {
  background-color: #3c3070;
}
